<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.songyb.bs">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bs"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".detail.TableDetailActivity"
            android:exported="true" />
        <activity
            android:name=".detail.GradeDetailActivity"
            android:label="@string/title_activity_detail" />
        <activity
            android:name=".detail.ExamDetailActivity"
            android:label="@string/title_activity_detail" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>